include pysparkcli/project-template/project_name/src/configs/*.*
include pysparkcli/project-template/project_name/src/jobs/*.*
include pysparkcli/project-template/project_name/src/settings/*.*
include pysparkcli/project-template/project_name/src/*.*
