include pysparkcli/project-template/default/project_name/src/configs/*.*
include pysparkcli/project-template/default/project_name/src/jobs/*.*
include pysparkcli/project-template/default/project_name/src/settings/*.*
include pysparkcli/project-template/default/project_name/src/*.*
include pysparkcli/project-template/default/project_name/tests/*.*
include pysparkcli/project-template/default/project_name/tests/test_data/employees/*.*
include pysparkcli/project-template/default/project_name/tests/test_data/employees_report/*.*
include pysparkcli/project-template/streaming/project_name/*.*
include pysparkcli/project-template/streaming/project_name/src/configs/*.*
include pysparkcli/project-template/streaming/project_name/src/jobs/*.*
include pysparkcli/project-template/streaming/project_name/src/settings/*.*
include pysparkcli/project-template/streaming/project_name/src/streaming/*.*
include pysparkcli/project-template/streaming/project_name/src/*.*
include pysparkcli/project-template/streaming/project_name/tests/*.*
include pysparkcli/project-template/streaming/project_name/tests/test_data/employees/*.*
include pysparkcli/project-template/streaming/project_name/tests/test_data/inputs/*.*
